[2020-03-26 20:43] sudermanjr opened #3 "Rename to Pluto"

[2020-03-26 20:51] lucasreed opened #4 "Support helm 2"
This will be tough because the data stored in the configmap is a long string and I can't figure out a logical separator between the different types of data stored there.

[2020-03-26 20:51] lucasreed opened #5 "add testing to helm package"

[2020-03-26 20:55] sudermanjr opened #7 "Support helm templates in static files check"
Helm templates do not unmarshal to yaml. Options are:

- Run a helm-template on the chart and scan that
- Strip all templating strings and attempt an unmarshal
- Something else I haven't thought of

[2020-03-26 21:03] sudermanjr opened #8 "Support targeting a kubernetes version"
By default right now, we target Kubernetes version 1.16 since that's what we are worried about. However to make this future-proof, we should support multiple.

One option that was discussed was to move to a `DeprecatedIn` string, instead of a `Deprecated` boolean. That way we can easily compare and decide if we should display it.

[2020-03-26 21:55] sudermanjr opened #9 "Don't show header if no results are to be printed"
If you have non-deprecated versions found, and you don't specify --show-non-deprecated, then you might get:

[code]

This is weird and confusing. We should detect this and print a "no deprecated versions found" message

[2020-03-26 22:50] #3 closed, assigned to sudermanjr

[2020-03-27 13:50] sudermanjr opened #12 "Change —show-non-deprecated"
Make it —show-all with a -A shorthand

[2020-03-27 15:15] #7 closed, assigned to sudermanjr

[2020-03-27 15:15] #9 closed, assigned to sudermanjr

[2020-03-27 21:26] sudermanjr opened #20 "Consider adding popular CRD deprecations"
cert-manager comes to mind specifically

This could entail adding a field to the Version struct, such as DeprecationType or APISource

[2020-03-27 21:32] sudermanjr commented on #5
Fixed in #17 and #18

[2020-03-27 21:35] #5 closed

[2020-03-27 21:36] #12 closed

[2020-03-27 22:10] sudermanjr opened #23 "Do functional testing with Kind"

[2020-03-27 23:15] #23 closed

[2020-03-30 14:31] rbren opened #25 "Set non-zero exit code if there are deprecated resources"
Would be great to fail (e.g. in CI/CD) if there are deprecated resources.

Could be done only in the presence of a flag (e.g. `--set-exit-code`)

[2020-03-30 16:28] sudermanjr commented on #25
I think maybe default to the exit code being non-zero, and then have a flag --ignore-errors or something like that if people want it to return 0?

[2020-04-02 21:19] sudermanjr opened #28 "Error message shows wrong flag"
[code]

[2020-04-03 16:47] #28 closed

[2020-04-03 17:14] sudermanjr commented on #4
Fixed in #27

[2020-04-03 17:14] #4 closed

[2020-04-03 17:18] sudermanjr commented on #20
Probably could be tackled at the same time as #8

[2020-04-06 17:03] #25 closed

[2020-04-08 18:20] lucasreed opened #31 "Revisit output when detect-helm is used"
Thoughts:
- It would be useful if the chart name is a column in the output
- When looking at a few clusters using the `detect-helm` feature, I realized it becomes harder to identify things without the namespace in the output. Also since the same chart could be launched into different namespaces, having the namespace along with the chart name will reduce a couple investigation steps after running p

[2020-04-08 18:27] sudermanjr commented on #31
I definitely like the `-o wide` idea to add more output. Then that additional output could be customized to each type of detection.

[2020-04-14 10:16] drPytho opened #34 "Automatic upgrade of files"
[feature-request]

Add a flag to upgrade files that are on deprecated versions e.g. `deployments.v1beta1.extensions` -> `deployments.v1.apps`.

[2020-04-14 15:03] Adelbertt opened #35 "Brew release for quick macos adoption."
Hello Feature request,

Would like to have a brew release so we MacOS user can quickly install/upgrade the tool.

Thanks!

[2020-04-14 15:15] sudermanjr commented on #34
Thanks for the request! We will talk internally and see if this is something we want to add.

[2020-04-14 15:16] sudermanjr commented on #35
Thanks for your request! It looks like we already have a tap setup for another tool, so we will look at adding this.

[2020-04-14 16:04] rbren opened #37 "Document exit-code option for CI/CD"

[2020-04-14 16:17] #35 closed

[2020-04-14 16:17] #37 closed

[2020-04-14 16:26] sudermanjr commented on #35
@Adelbertt you should be able to run `brew install FairwindsOps/tap/pluto` to install now.

[2020-04-14 16:28] Adelbertt commented on #35
==> Tapping fairwindsops/tap
Cloning into '/usr/local/Homebrew/Library/Taps/fairwindsops/homebrew-tap'...
remote: Enumerating objects: 11, done.
remote: Counting objects: 100% (11/11), done.
remote: Compressing objects: 100% (10/10), done.
remote: Total 138 (delta 3), reused 4 (delta 1), pack-reused 127
Receiving objects: 100% (138/138), 23.83 KiB | 5.96 MiB/s, done.
Resolving deltas: 100% (33/33)

[2020-04-14 19:33] servo1x opened #39 "In cluster resources?"
Hi!

Is there a way to check for resources inside the cluster?

For example, we run a multi-tenant cluster and some teams may choose to apply their manifests directly to the cluster and we do not really have any visibility on those files.

Does pluto support detecting resources that are already inside the cluster, outside of helm?

Thanks!

[2020-04-14 19:37] lucasreed commented on #39
Unfortunately, that's not possible (which, oddly enough is the reason we wrote this tool 😄). You can see more detail on why in this blog post: https://www.fairwinds.com/blog/kubernetes-easily-find-deprecated-api-versions-with-pluto

[2020-04-14 19:39] #39 closed

[2020-04-15 13:22] sdesbure opened #40 "issue with Helm (v2) detection on my cluster"
Hello,
we have a lot of (big, fat, awful) helm deployment and I wanted to check deprecation with pluto:

but it doesn't work as expexted (I assume):

[code]

fyi I'm "out of cluster" with ssh proxy in between if

[2020-04-15 13:34] lucasreed commented on #40
So a couple of things going on.
1. We should handle this error gracefully and give you a useful message
2. This error means one of your chart templates is defining a field more than once, so that should probably be fixed as well. The field in question is `metadata` in this case, but we unfortunately don't output which chart/resource it's in.

I hit a similar issue in testing when running against t

[2020-04-16 16:46] josharrington opened #42 "Question: Scope of API Deprecations"
I just had a quick question about the scope of the tool. When I run this against my cluster, I get a report of deprecated API versions. However, the tool doesn't tell me in which version they were deprecated. Our clusters are on 1.12 and upgrading to 1.13 so it may not make sense to change all the resources reported by the tool.

Thank you so much for creating this tool. This will be immensely hel

[2020-04-16 16:47] sudermanjr commented on #42
@josharrington Great question! Right now we are specifically targeting all deprecations in Kubernetes 1.16. We are planning to add functionality to make this more clear and expand the scope of our deprecations list.

Please see https://github.com/FairwindsOps/pluto/issues/8 for details on that as we work on it.

[2020-04-16 17:05] josharrington commented on #42
Exactly what I was looking for. Thanks!

[2020-04-16 17:05] #42 closed

[2020-04-16 17:36] #40 closed

[2020-04-17 17:45] sudermanjr opened #46 "Add deprecations for v1.17.0"
- [x] PriorityClass scheduling.k8s.io/v1beta1 [changelog] (https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.14.md#other-notable-changes-11) Added in #55
- [ ] All resources within the rbac.authorization.k8s.io/v1alpha1 and rbac.authorization.k8s.io/v1beta1 API groups are deprecated in favor of rbac.authorization.k8s.io/v1, and will no longer be served in v1.20. [changelog

[2020-04-17 17:51] sudermanjr opened #47 "Add deprecations for 1.18.0"
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.18.md#deprecation

the following deprecated APIs can no longer be served:

- All resources under apps/v1beta1 and apps/v1beta2 - use apps/v1 instead
- daemonsets, deployments, replicasets resources under extensions/v1beta1 - use apps/v1 instead
- networkpolicies resources under extensions/v1beta1 - use networking.k8s.io/v1

[2020-04-17 17:53] sudermanjr commented on #20
This will conflict with DeprecatedIn and has now become a much more difficult issue.

These deprecations will not be tied to a Kubernetes version, but rather some other version.

[2020-04-17 19:09] lucasreed opened #48 "Add "removed in" column and adjust "deprecated in""
Currently our output has `DEPRECATED`/`DEPRECATED IN` when in reality it should be `REMOVED`/`REMOVED IN`.

We can still have a "deprecated in" column but it should truly be the deprecated kube version.

[2020-04-17 19:27] sudermanjr opened #49 "Allow filtering non-deprecated versions from yaml and json output"
Currently, the show-all flag doesn't affect the yaml or json output. This should probably be the case.

[2020-04-17 19:29] #8 closed

[2020-04-17 20:15] sudermanjr commented on #48
We should also introduce more exit-codes for this. A "removed" and a "deprecated" api should have different exit codes, with removed taking priority I think.

Then ignore-errors can just ignore all of them.

[2020-04-17 20:29] sudermanjr opened #51 "Consider publishing a github action"
If we published an action, then people could easily run Pluto against their code.

[2020-04-17 20:57] sudermanjr opened #52 "Add a command to list the deprecations that pluto knows about"
Something like `pluto list-known` or something like that which will output a table or JSON or yaml of the deprecation list.

[2020-04-17 20:58] sudermanjr opened #53 "Consider checking things other than apiVersion"
In particular this is in light of the ingress class annotation change in Kube 1.18

[2020-04-17 20:58] swade1987 commented on #53
See https://github.com/swade1987/deprek8ion/blob/master/policies/1.18-deprek8ion.rego#L16-L24 as an example.

[2020-04-17 21:00] sudermanjr opened #54 "Add a `replacement api` field to the output"
We could add a field to the deprecations list that outputs the `replacement api` in order to assist even further.

could make #34 easier if we decide to do that.

[2020-04-17 21:03] sudermanjr commented on #46
Some of these will need #48 to be addressed first.

[2020-04-17 21:29] swade1987 commented on #54
100% we need to have this just knowing its deprecated is great but knowing what to switch to is even better.

[2020-04-17 21:49] sudermanjr opened #56 "go get throws import errors"
[code]

[2020-04-17 23:14] sudermanjr opened #60 "auto generate deprecations list"
We should be able to generate the deprecations list automagically from the kubernetes swagger.json.

It has a fairly consistent pattern for deprecating the apiVersions in the description of the api.

https://raw.githubusercontent.com/kubernetes/kubernetes/master/api/openapi-spec/swagger.json

To preview this - `cat swagger.json | jq '.definitions[].description' | grep -i deprecate`

[2020-04-18 13:04] swade1987 commented on #60
This would be extremely neat or the other way is to just have a yaml or json file that you update to include the deprecations containing:

- the resource type (e.g deployment)
- the deprecation api version
- the replacement api version
- the kubernetes version it deprecates in

I’m just thinking for phase one that the above may be easier and you’re solution is the end goal, thoughts?

[2020-04-18 13:29] lucasreed commented on #56
Weird. This command works for me, but I didn't think that env var was necessary any longer: `GO111MODULE=on go get github.com/fairwindsops/pluto`

[2020-04-18 13:38] lucasreed commented on #56
https://dev.to/maelvls/why-is-go111module-everywhere-and-everything-about-go-modules-24k

[2020-04-18 14:19] #49 closed

[2020-04-18 14:28] lucasreed commented on #60
I'll work on this. I think we can go straight to using the openapi spec. Might as well deal with that now :)

[2020-04-18 15:44] swade1987 commented on #60
If we can get it from the upstream swagger that’d be awesome to be fair.

However, the issue is you’d have to track k8s releases almost 1 to 1.

This would be an issue for me as it’s going to make it impossible to make sure we’re using non deprecated api versions early doors.

[2020-04-20 19:49] sudermanjr opened #61 "Re-do helm3 functional tests with secret-only"
Let's re-write the helm3 functional tests to use a secret instead
of actually helm-applying the manifests. This should, in theory, make
the e2e/functional tests kubernetes-version agnostic, since we won't
actually be applying anything to the cluster.

[2020-04-20 20:18] sudermanjr opened #62 "Yaml and JSON only output version deprecated, not a bool"
It will be much easier to consume the data if the semver comparison is already make.
Fixed by #59

[2020-04-20 23:07] sudermanjr commented on #56
That is really odd. I'm going to close this since turning it on works.

[2020-04-20 23:07] #56 closed

[2020-04-21 14:41] lucasreed opened #63 "Only show latest DEPLOYED release when using helm"
There is a bug in helm (2 for sure, unclear when using version 3) that can allow a release to have multiple revisions marked as DEPLOYED. Because of this all of those revisions get listed in pluto output. We should only care about the most recent one.

Bonus: should we also alert the user they are hitting this bug? It is not a feature of helm to have more than one DEPLOYED release at at ime.

[2020-04-22 14:05] lucasreed opened #64 "detect-helm reports no error if API is unreachable"
We should definitely get an error for this instead:

[code]

[2020-04-22 17:15] sudermanjr opened #66 "Add human-readable list output"
Currently we only have JSON. Allow for yaml and human-readable like
our other outptus

[2020-04-22 17:25] #54 closed

[2020-04-22 17:25] #48 closed

[2020-04-22 17:25] #52 closed

[2020-04-22 17:25] #62 closed

[2020-04-22 17:25] #46 closed

[2020-04-22 17:31] sudermanjr commented on #31
We also discussed potentially changing the NAME to be `filepath/filename` and `release-name/resource-name` for the different checks.

[2020-04-22 17:40] lucasreed opened #67 "detect-helm and multiple uses of the same chart"
When multiple releases are from the same chart, I think we should only show one instance of that output.

for example, if `helm ls` shows this:
[code]

We should only output a single line for any deprecations found in that chart. This may be easier if we end up pulling in chart name data with #31

[2020-04-22 18:37] #64 closed

[2020-04-23 19:19] #66 closed

[2020-04-26 19:54] lucasreed commented on #60
I don't think there will be a good way to automatically do this and as @swade1987 points out it makes it harder to keep up to date with future versions that have already been made public via announcements without being present in the OpenAPI spec file.

I vote to close this issue and we keep a static deprecation list in code like we do now.

[2020-04-26 20:29] swade1987 commented on #60
I would prefer it gets automatically rendered from a CSV file or something in the codebase.
It would make updates easier and would make sure the codebase doesn't get out of control.

[2020-04-27 15:21] lucasreed commented on #63
I can fix this while working on #67

[2020-04-27 16:11] sudermanjr commented on #60
@swade1987 Can you elaborate on that particular part?  I agree it would make updates a little bit easier (particularly for newer go developers), but I don't see how it would improve the codebase. In fact, I think it would actually make the codebase more complicated.

Since the move to having the list be in its own file, it seems like it would be fairly redundant to use a CSV or other file to gener

[2020-04-27 17:05] swade1987 commented on #60
Right now we add to a struct which overtime is going to be unmanageable. It would make sense to read in the deprecations from a JSON file and marshall them into a struct.

[2020-04-27 19:21] lucasreed commented on #67
We decided limiting this output would be a disservice to the user. We should report all deprecation/removal(s) we find even if the chart name + version match. Not everyone iterates on their chart version number (for SHAME!) so we could potentially hide issues if we only print out a problem with a chart and not every release of the chart.

[2020-04-27 20:50] sudermanjr opened #70 "Idea: Allow targeting a single namespace for helm3 checks"
It occurs to me that this might be nice for two reasons:

1) Developers in large clusters might only be responsible for a single namespace and want only info on that.
2) Someone using the tool might only have access to helm secrets in a single namespace, and want to target that namespace only

[2020-04-29 19:57] #63 closed

[2020-04-29 19:57] #67 closed

[2020-05-01 17:40] stefansedich opened #71 "Issues detecting on Ingress"
Trying to detect on an ingress object:

[code]

And I see the following error and response:

[code]

However works fine on a Deployment:

[code]

Is this expected? am I holding it wrong? or is it a bug?

[2020-05-01 17:44] sudermanjr commented on #71
Looks like maybe we don't have that version listed `networking.k8s.io/v1beta1`. I'll take a look

[2020-05-01 17:46] sudermanjr commented on #71
From this list - https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/

It looks like the old version was `extensions/v1beta1`, not `networking.k8s.io/v1beta1`

Am I missing something?

[2020-05-01 17:53] vladlosev commented on #71
Ingresses in `extensions/v1beta1` do not seem to be detected, either:
[code]

[2020-05-01 17:55] stefansedich commented on #71
As @vladlosev said the same error results for that

[code]

`I0501 10:54:56.866217 1272434 versions.go:98] invalid json: invalid character 'a' looking for beginning of value` is the bit that looks odd to me?

[2020-05-01 18:05] sudermanjr commented on #71
Looks like we missed that version. @stefansedich #72 should fix.

[2020-05-01 18:06] stefansedich commented on #71
:tada: thanks!

[2020-05-01 18:18] #71 closed

[2020-05-01 18:32] vladlosev commented on #71
Nice! Impressively quick fix! 👏

[2020-05-07 02:00] EppO commented on #47
1.18 deprecations:
- [x] daemonsets
- [x] deployments
- [x] replicasets
- [x] networkpolicies
- [x] podsecuritypolicies
All of them were already removed from 1.16 already but with a runtime flag that could enable the old API version for them. I guess this flag is gone in 1.18.

[2020-05-07 16:00] #47 closed

[2020-05-13 23:19] ivanfetch opened #75 "Include namespace in `detect` and `detect-files` output"
IF a namespace is included in a manifest file, include that namespace along with the object name, as is done for `pluto detect-helm` output E.G. `namespace/myapp`.

Currently the object name is shown, with no namespace.

IF there is no namespace available in an objects metadata, potentially:

* Show only the object name, which is what happens in all cases now.
* Show `unknown/` or similar to denot

[2020-05-14 21:53] ivanfetch commented on #75
Apologies for being confusing in this issue - I incorrectly thought the content before the slash in the `name` of `pluto detect-helm` was the namespace - it is the Helm release.

[2020-05-19 15:04] #61 closed

[2020-05-19 15:04] #75 closed

[2020-05-20 19:17] #70 closed

[2020-06-03 15:48] smartbit opened #82 "Catch helm no deployed releases and log it without blocking"
Thanks for the great product. Regretfully we're getting this error
[code]

Tried for root of repo's (many projects), in certain repo root folder, in the ci/templates folder: the timeout differs, but they all fail on the same line `request.go:918`

Any solution? Other things we can try?

[2020-06-03 15:52] sudermanjr commented on #82
By your description:

t sounds like you are trying to detect versions in files (or in helm charts on disk).  The `detect-helm` command is for detecting helm charts that are already installed into a cluster. If you are trying to detect static manifests, the correct command would be :

[code]
helm template <chart-dir> | pluto detect -
[code]

[2020-06-03 16:21] smartbit commented on #82
@sudermanjr thank you for your quick reply. Indeed I was a little confused and tried a few things and just to be sure reported them. Sorry for the confusion I caused.

### files on disk
`grep` finds helm templates withold api-versions that pluto seem not to detect.
[code]
Is this expected?

### deployed helm
Run from *any* folder, for namespace `my-sample-project` that includes above three helm v2

[2020-06-03 17:18] sudermanjr commented on #82
For the first bit about the static files:

[code]

This indicates that we were unable to unmarshal the files into the Kubernetes object stubs that we use to identity them. My gut says that maybe these yaml files are inside of a helm chart? If that's the case, you'll have to use the `helm template | pluto detect - ` workflow. We unfortunately can't parse Helm templates on disk, just valid yaml.

Th

[2020-06-04 18:14] smartbit commented on #82
Indeed that is the case. Misunderstood you documentation in that regards.

The `helm template | pluto detect -` option defeats the purpose in a ci/cd pipeline with `cat ${TEMPLATE} | envsubst > values.yaml` as it will be a manual process and a `grep -Rni "extensions/v1beta1"` would be quicker.

Maybe the large amount of helm deployments and their 3 year history cause time-outs?
[code]
Instead of a

[2020-06-04 18:50] sudermanjr commented on #82
That is quite possible. We have seen issues with large numbers of helm releases and their revisions. You can scope to a single namespace which can sometimes help, but not much. In general having a large number of revisions causes many problems, and we recommend not keeping many of them.

We might be able to do that. I would have to look into it. @lucasreed might have an idea on this.

[2020-06-04 19:25] smartbit commented on #82
Thanks for helping out. Now hitting yet another error.
[code]
Deleted it. Trying once more.

In the last update, I've used `history-max`
[code]
but maybe 3 years ago this option didn't exist :-)

[2020-06-04 19:29] sudermanjr commented on #82
[code]

That seems like a mal-formed release. Those errors are coming from the helm client itself, and I'm not sure we can get around them.

[2020-06-04 19:44] lucasreed commented on #82
Couple of things:
1. One caveat of `helm init --service-account=tiller --history-max 10` - if you launch that you still have to go and deploy a new revision of every release for tiller to actually remove any old configmaps. It will not delete anything by only relaunching tiller.

2. The `no deployed releases` error sounds to me like there are configmaps laying around from an old release and none a

[2020-06-04 21:18] smartbit commented on #82
I assumed that. As soon as we get `pluto detect-helm --helm-version=2` working, redeploying all those with old apiversions will have `history-max 10`

It seems I've gone through all those and deleted them. Notice time went from 15min --> 19min :+1:. Now hitting the second type of issue:

That is what I assumed. Will have to decide for each `yaml: unmarshal errors` deployment whether I can `delete

[2020-06-05 16:07] lucasreed commented on #82
I'm not sure how it would get in this state where configmaps exist, but with no released deployments unless you deleted a release without `--purge`. But in that case I would expect `helm ls --deleted` would show them, and you mentioned that nothing shows up with that command, correct?

If releases DO show up, I'm guessing this is the issue. Could you confirm whether or not you have output when run

[2020-06-05 18:11] #20 closed

[2020-06-05 20:48] ironhalo commented on #82
I can confirm this; a `helm ls --deleted` showed a number of releases.  Once deleted with `--purge` the `Error running helm-detect: error determining most recent deployed for '<release>' was resolved.

[2020-06-05 23:08] sudermanjr commented on #53
In Open-Source Office Hours today, we decided that with the direction we are headed for apiVersions, this feature will be out of scope for Pluto.

[2020-06-05 23:08] #53 closed

[2020-06-05 23:10] sudermanjr commented on #31
Between #76 and in #69 and think we can call this fixed.

[2020-06-05 23:10] #31 closed

[2020-06-06 13:04] swade1987 commented on #53
@sudermanjr this is great to know, keep up the good work!

[2020-06-09 17:00] smartbit commented on #82
### Solution

#### Pluto trips on name twice defined

After some research we discovered what tripped pluto but helm and k8s didn't mind: we had the name of an Ingress defined twice
[code]

#### Pluto times out

As mention [above](#issuecomment-639020428), with old deployments and many configmaps, pluto times out on slow links. Running pluto from Cloud Shell or an VM near the cluster fixes my initi

[2020-06-10 14:51] transient1 opened #84 "Add semantic versioning tags to Docker container"
Quay.io repo tags not currently in `vx.x.x` format.

[2020-06-11 16:27] sudermanjr commented on #84
FIxed by #87

[2020-06-11 16:45] #84 closed

[2020-06-16 13:28] ntx-ben opened #88 "Docker image unusable in GitLab"
Hi,

GitLab CI/CD requires images to have a shell to be usable. Unfortunately, using `scratch `as the final base image does not provide any shell, and results in an error.

Any reasons for not using `alpine `as a base for the final image?

[2020-06-16 13:33] lucasreed commented on #88
Thanks for the report! I don't believe there was any reason we used `scratch` other than image size. I think it makes sense to change it to something with a shell. We will talk about this internally. Thanks again.

[2020-06-16 20:20] lucasreed commented on #82
@smartbit thanks for the detailed write-up! I'm working on making the error more descriptive but I'm not sure if I can get the offending line information because it's a part of the yaml parser. I'll see what I can come up with though.

[2020-06-17 19:38] sudermanjr commented on #88
@lucasreed this isn't 100% accurate. Usually `scratch` is used for security reasons. Pluto is going to be an insights plugin which has further security considerations than CI. The Dockerfile was not actually intended for CI use initially.

[2020-06-17 20:02] ntx-ben commented on #88
@sudermanjr thanks for your prompt reply.

My use case is, I have a gitlab runner running inside an internal Kubernetes cluster, so the CI context is ephemeral by nature. I use a variety of docker images for different stages, i.e. linting, scoring, etc. Some are custom, some are used directly from 3rd parties.

So in this instance, I'd like to have another stage, "compatibility", where the gitlab

[2020-06-22 15:19] #82 closed

[2020-06-22 15:44] davidnortonjr-sps opened #91 "More filtering options"
Hi, great tool! I would love to have more filtering options. Specifically for my use case:

1. Filter by provider (e.g., only show Kubernetes deprecations, not Istio or Cert Manager)
2. Filter by removed vs. deprecated (e.g., I only want to see which APIs are going to be _removed_ in Kubernetes 1.16). I tried `--ignore-deprecations` but that seemed to only affect the exit code

As a workaround, I

[2020-06-22 15:47] sudermanjr commented on #91
Thanks for the feedback! Glad you like the tool.

I think for all of this maybe we should consider adding a custom-columns output like `kubectl` has. This would make most of your requests possible, as well as additional possible requests.

As far as filtering providers, that should be achievable via a new flag I think. Perhaps a `--providers` flag that takes a string slice.

I'll make sure this ge

[2020-06-23 17:17] ironhalo opened #92 "Support checking the kubectl.kubernetes.io/last-applied-configuration annotation"
Some k8s manifests are applied by the cloud provider and will be missed by `detect-files` and `detect-helm`.  A good example is how EKS handles `CoreDNS` and `kubeproxy`; they seem to be applied via `kubectl apply`.  It would be awesome if pluto could check for this use case.

[2020-06-23 17:24] sudermanjr commented on #92
@ironhalo  Thanks for the feedback.

We have discussed this possibility internally in the past, and have decided that we would rather not implement this.

Since it would be limited in scope (only kubectl apply), and it would require scanning every single resource in the cluster, it would be high cost for little benefit.

I would really hope that EKS and GKE don't allow upgrading to a k8s version t

[2020-06-23 17:48] ironhalo commented on #92
Agreed, I'd expect AWS would handle this.  A second use case could be developers that have applied things outside of a pipeline.  This should never happen, but depending on how locked down an environment it may.  Spinnaker also applies manifests generated by `hal` via `kubectl apply` instead of helm or dumping raw manifests.

My goal is to use a single tool to check compliance of a cluster prior t

[2020-06-23 19:18] pkoraca commented on #92
At least in the case of EKS, they don't manage `kube-proxy`, `aws-node` and `coredns` after the cluster is created. Users must convert resources to a new `apiVersion` before doing the upgrade to 1.16 (which also requires the upgrade of images for those components by the user). But [soon](https://github.com/aws/containers-roadmap/issues/252) it should be possible to manage those add-ons.

Additiona

[2020-06-23 22:01] ironhalo commented on #92
The `patch` is a good point, we're planning to do the same when we upgrade to 1.16.  Closing.

[2020-06-23 22:01] #92 closed

[2020-06-23 22:03] sudermanjr commented on #92
@pkoraca that is really good information to have and also extremely disappointing

[2020-06-24 09:32] pkoraca commented on #92
Sorry, I just found out it's actually not `kubectl patch` that is removing `last-applied-configuration`. Patching seems to work fine. What we also used is `eksctl utils` to upgrade those 3 add-ons to the latest recommended image, and that's when the annotation is lost, which makes it impossible to detect the correct `apiVersion`.
To, ensure everything is `apps/v1`, we will probably do the followin

[2020-06-27 20:08] lucasreed commented on #88
The Dockerfile in master now uses alpine. Changed in #90

[2020-06-27 20:08] #88 closed

[2020-07-02 17:05] sudermanjr opened #94 "Add a flag to only scan for certain components"
Fom #91

Create a `--components` flag that takes a string slice and limits the providers (k8s, cert-manager, istio) that are scanned

[2020-07-02 17:07] sudermanjr opened #95 "Create a custom-columns output option"
Allow only displaying certain output columns

From #91

[2020-07-02 17:10] sudermanjr opened #96 "Add a flag to --only-show-removed"
From #91

Add a flag to --only-show-removed apiVersions. This may or may not affect error codes.

[2020-07-02 17:11] sudermanjr commented on #91
I split this into three separate issues.

[2020-07-02 17:11] #91 closed

[2020-07-02 17:14] sudermanjr commented on #34
We talked about this in our quarterly planning and have decided that this is out of scope for Pluto

[2020-07-02 17:14] #34 closed

[2020-07-02 17:15] sudermanjr opened #97 "Add full path to file detection output"
Have the option to output the full filepath for use in automation

[2020-07-03 09:30] hlascelles opened #98 "Pluto silently errors parsing valid yaml and returns success"
We are seeing the following on Linux. It appears that pluto is failing to parse simple valid yaml, and is then reporting success.

1. Have a small yaml file:
[code]
1. Run `pluto detect-files -d .`
1. See that exit code is 0

[code]

Running with no logs it seems to claim no files exist, and there were no errors
[code]

Running with logs, we see the errors, and still a zero exit code
[code]

I thi

[2020-07-03 16:02] lucasreed commented on #98
Hello there! This is working as intended. In order to avoid parsing file extensions (you can still pass valid yaml or json without a file extension for example) we _**always**_ attempt to parse a file as JSON first and then YAML. We will only output an error if both of those fail. [Here is the place in code](https://github.com/FairwindsOps/pluto/blob/master/pkg/api/versions.go#L112-L128) we are ch

[2020-07-03 16:02] #98 closed

[2020-07-03 16:05] lucasreed commented on #98
As for the message `No api-versioned files found in specified directory.` that's because ServiceAccount has no deprecated versions that we look for. If you were to put a `Deployment` object with apiVersion `extensions/v1beta1` you would see output.

[2020-07-03 17:12] hlascelles opened #99 "Success message is misleading and/or --show-all is not working"
Consider this file:

[code]

It is "up to date" version-wise.

But running `pluto` on that dir reports "No api-versioned files found in specified directory.".
[code]

That's not really true. It did find it (can be seen in verbose logs), it is just that the file is compliant. This can lead you to think that your directory path is wrong.

Even running with `--show-all` reports nothing.

[code]

It i

[2020-07-03 17:13] hlascelles commented on #98
OK, sorry, yes that does make sense!

However I think the "success" log line ("No api-versioned files found in specified directory.") is what confused me... I will raise another issue for that. Thanks for looking!

Raised as: https://github.com/FairwindsOps/pluto/issues/99

[2020-07-06 16:34] sudermanjr commented on #96
The question becomes, if the API is both removed _and_ deprecated, and we pass --ignore-deprecated, then do we not show it?

[2020-07-09 20:55] #99 closed

[2020-07-13 00:57] dnascimento opened #102 "Detect deprecated APIs in running clusters"
Would be possible to add the approach described in https://github.com/doitintl/kube-no-trouble where the tool scans the resources in an existing cluster? @stepanstipl would you be keen to merge efforts?

[2020-07-13 17:10] sudermanjr commented on #102
@dnascimento Thanks for your question and for bringing that other tool to our attention.

We have avoided using that approach because of the extremely unreliable nature of `kubectl.kubernetes.io/last-applied-configuration`

There's more information in #92 as to the details of this.

[2020-07-13 23:21] dnascimento commented on #102
Even kube patch removes the last-applied-configuration, I think it would be worth to implement it. For instance, we run several large clusters, applications are deployed from dozens of repos. It's hard to scan all of them but would be easy to query all state in kubernetes

[2020-07-14 03:07] sudermanjr commented on #91
@davidnortonjr-sps If you want to try out the functionality I'm working on to resolve these three issues, please take a look at #103

[2020-07-14 22:34] sudermanjr commented on #96
Once #103 is merged, this will be really easy to implement

[2020-07-14 22:50] #95 closed

[2020-07-14 23:44] yoichiwo7 opened #104 "Detect deprecated/removed apiGroups in Role/ClusterRole rules"
Are there any plans to add detection of deprecated/remove apiGroups in Role/ClusterRole rules?

[code]

We are currently detecting these apiGroups by using `conftest` tool with custom policy but it would be great to have these detection in pluto.

## Important Note

In the example above, **'extensions' apiGroup must not be removed until the cluster is actually upgraded to v1.16**.

This is because

[2020-07-14 23:49] sudermanjr commented on #104
I believe we already are doing this:

Are these the versions you are looking for?

https://github.com/FairwindsOps/pluto/blob/92c5f1355cbd72170917e2e38b4b9fecd3006895/versions.yaml#L104-L127

[2020-07-15 00:05] yoichiwo7 commented on #104
@sudermanjr
Thanks for the reply.

I think that checks `apiVersion` and `kind` in Role/ClusterRole manifest.
What this issue targets is checking `rules[].apiGroups[]` and `rules[].resources[]` in Role/ClusterRole manifest.

I just emphasized the difference with comment in the following example.

[code]

As you can see, check target/scope is quite different from the current ones.

[2020-07-15 00:06] sudermanjr commented on #104
Sorry, I deleted my comment because I realized that you were asking something completely different.

[2020-07-15 00:08] sudermanjr commented on #104
This is definitely an interesting concept, and not something we had considered before.

I think it's possible we could do that, but it would be potentially computationally expensive (@lucasreed I stole that from you).

It's also potentially out of scope for us.  We may consider it, but our bandwidth for new features is fairly low right now.

[2020-07-15 00:17] yoichiwo7 commented on #104
Thanks for the answer.
Until then, we just use both pluto and conftest. Great tools.

Please feel free to close the issue.

[2020-07-15 00:22] sudermanjr commented on #104
I'm going to go ahead and leave it open as an enhancement. It's something we would consider accepting a PR for, and it's very well defined  request. Thanks!

[2020-07-16 17:20] #94 closed

[2020-07-16 17:58] sudermanjr commented on #96
Thinking about this, I think that `--only-removed` is the only option that makes sense.

`--only-deprecated` would filter out anything that was removed, and that seems like a bad idea.

What do you think @lucasreed ?

[2020-07-16 20:15] sudermanjr commented on #96
In fact, I think we can leave the ignore-* flags and instead just introduce a flag to only show removed.  The ignore will still handle error codes, and the only-show-removed flag will change output only

[2020-07-16 20:44] #97 closed

[2020-07-16 20:49] lucasreed commented on #96
I like this idea. We can always remove the other things later if there is a good reason to.

[2020-07-16 21:17] sudermanjr commented on #96
New problem while implementing this:

Right now, we exit `0` if there are no outputs due to the component filter. If we continue that pattern, we should make it so that `--only-show-removed` _can_ modify the exit code.

[2020-07-16 21:41] #51 closed

[2020-07-17 14:53] #96 closed

[2020-07-17 15:35] davidnortonjr-sps commented on #96
This worked perfectly (as did `--components`). Thank you so much!

[2020-08-06 00:35] k8s42 opened #109 "How do I list non-Helm API Deprecations?"
I just discovered Pluto while Googling around how to easily find out which APIs in use in my cluster have been deprecated. We will be upgrading from 1.15.x to 1.16.x soon. The "detect-helm" example is useful and is self-explanatory. However, I am trying to figure out how to scour my entire cluster using Pluto to see which deployments, resources (storage classes, etc.) are using deprecated APIs tha

[2020-08-06 00:45] sudermanjr commented on #109
That's a great question and is probably best answered in our readme in the first section.

Basically, there isn't a 100% reliable way to detect in cluster. That's why we provide file detection.

In the end, the important thing is that you're not actively trying to deploy removed apiVersions. Versions running in the cluster already are not at risk because the api server converts them.

There's also

[2020-08-06 00:47] sudermanjr opened #110 "Create FAQ"
Let's put an FAQ in the README so that we can answer the questions that seem to come up repeatedly.

[2020-08-06 13:00] k8s42 commented on #109
Thank you, @sudermanjr. So, that is indeed I am trying to understand. What are the "files" in the following command:

pluto detect-files -d pkg/finder/testdata

[2020-08-06 15:38] sudermanjr commented on #109
Those are any yaml or json manifests that contain Kubernetes object definitions.

[2020-08-06 19:16] k8s42 commented on #109
So, as a test, I exported ingress extensions to a YAML file as follows:

`kubectl get ingresses.extensions -A --all-namespaces -o yaml>ingressesextensions.yaml`

Then I ran the following command against the directory where **ingressesextensions.yaml** file is stored:

`pluto detect-files -d /home/k8s42/`

I received the following response:

However, in the **ingressesextensions.yaml** file, I do s

[2020-08-06 19:25] k8s42 commented on #109
With verbose logging:

`./pluto detect-files -d /home/k8s42 --v 5`

[2020-08-06 23:03] estahn commented on #109
@k8s42 I've just gone through the Kubernetes 1.15 to 1.16 upgrade and had various tools similar to pluto (also wrote my own bash script). I found all have shortcomings.

Re `kubectl get ...`, it's technically not possible to revert the already applied manifest back to its original. However, you can use workarounds such as reading out `kubectl.kubernetes.io/last-applied-configuration`.

I used the

[2020-08-07 14:13] sudermanjr commented on #109
This indicates that your yaml file didn't marshal correctly. Is that a raw yaml file, or is there something else in there? I can't really tell anything without knowing the contents of the file you are testing.

[2020-08-07 18:00] lucasreed commented on #109
This is not how we intend the tool to be used so currently it will not parse a list of items from the kubernetes API. It is meant to parse multiple yaml/json files in which you then post to the API (perhaps from a git repository), not from things you gather from the API.

The response you would have received would look like this:
[code]

As discussed above, getting things from the API is not relia

[2020-08-12 16:12] #109 closed

[2020-08-12 17:45] nonoswz opened #111 "Support for Azure Auth provider"
Hello,

When running detect-helm against Kubernetes (AKS) I got following error:

$ pluto detect-helm --helm-version 3
Error creating kubernetes client: no Auth Provider found for name "azure"

Could you please add the azure Auth provider ?

Thanks a lot for the project!

[2020-08-12 17:49] sudermanjr commented on #111
I will definitely take a look at this

[2020-08-12 19:16] sudermanjr opened #114 "Deprecate Helm 2"
This will probably be a major version change. In order to keep up-to-date on client-go, we will have to deprecate helm 2

[2020-08-12 21:02] #111 closed

[2020-08-12 21:07] nonoswz commented on #111
Thanks a lot! It works perfectly ;)

[2020-09-25 10:16] dulltz opened #117 "Empty manifest should be passed"
First of all, thank you for providing such a useful tool. I'm using pluto in CI.

I think pluto should allow empty inputs.
Currently, pluto does not allow it.

[code]

Of course it isn't wrong behavior, but the other popular validation CLI tools (e.g. conftest, kubeval) allow empty manifests.
So users might expect pluto to allow empty manifests as well.

[code]

It may seem odd to use an empty man

[2020-09-25 16:03] sudermanjr commented on #117
@dulltz Thanks so much for the feedback and the detailed description of your issue.

I don't see an issue with making the exit code be `0` if we don't find any apiVersions. What do you think @lucasreed ?

[2020-09-25 16:41] lucasreed commented on #117
Sounds good to me. Thanks @dulltz !

[2020-09-25 20:35] #117 closed

[2020-09-27 11:50] chgl opened #119 "Unable to run pluto in an alpine image"
I am unable to run the pluto binary from the GitHub releases using an alpine base image. To reproduce:

[code]

Outputs:

[code]

Using Ubuntu:20.04 works without any issues.

I believe one solution would be to statically link the binary to avoid any glibc vs musl libc issues.

[2020-09-27 17:39] sudermanjr commented on #119
We use gore leader which I believe passes the static link flag by default. I'll have to look into this.

We also have a Docker image of Pluto you can use

[2020-09-27 18:26] sudermanjr commented on #119
I was able to reproduce this. Goreleaser docs say the `-s` flag is passed, but it clearly was not. I was also able to build a version using the `make build-linux` that worked find in alpine.

[2020-09-27 18:30] chgl commented on #119
Perfect, thank you!

[2020-09-28 08:36] monotek opened #122 "Add option to show also the namespace the deprecated resource"
Would be nice to have also a table for the namespace in the output.

[2020-09-28 12:52] lucasreed commented on #122
Hello! We already have this functionality in place for the helm detection. You just need to use `-o wide` to show it.

Were you hoping to get namespace output in one of the other detection methods?

documentation including the `-o wide` output: https://github.com/FairwindsOps/pluto#helm-detection-in-cluster

[2020-09-28 13:47] monotek commented on #122
Thanks!
I was looking for something like "--namesapce" in the options :-)

[2020-09-28 13:47] #122 closed

[2020-09-28 16:23] sudermanjr commented on #119
Tried out the latest goreleaser build and it did not work. I'll keep looking into this.

[2020-09-28 16:28] sudermanjr commented on #119
I was able to download the 386 version and run it in alpine https://github.com/FairwindsOps/pluto/releases/download/v3.5.0/pluto_3.5.0_linux_386.tar.gz

[2020-09-28 16:28] #119 closed

[2020-09-28 17:39] chgl commented on #119
Strange. Thank you, I'll use the x86 version.

[2020-09-28 17:55] sudermanjr commented on #119
I have a new PR coming in with CGO explicitly disabled. This _might_ fix the amd64 version.

[2020-09-28 18:51] sudermanjr commented on #119
Okay, v3.5.1 is officially statically linked for all the builds, not just the 386

[2020-09-29 11:09] chgl commented on #119
Works flawlessly, thanks again!

[2020-10-02 08:58] monotek opened #125 "Add column "INTRODUCED IN""
if "-o wide" is used, it would be niced to have a column  "INTRODUCED IN" which show from which k8s version a replaced api is available.

To make clear thats its related to the new api the ouput could look like:

[code]

[2020-10-02 16:18] #125 closed

[2020-10-02 16:19] monotek commented on #125
Sorry... Should be same as "DEPRECATED IN" anyway...

[2020-10-05 15:43] sudermanjr commented on #125
Was out of town, but glad you found the applicable column!

[2020-10-05 17:46] lucasreed commented on #110
Adding an issue/PR template that references the FAQ would be great as well to make sure we head off any questions before the Issues/PRs get opened.

[2020-10-05 17:54] sudermanjr opened #126 "Review apiVersion Deprecation List"
ensure the list is up-to-date.

[2020-10-12 20:32] #110 closed

[2020-10-20 22:17] bshelton229 opened #130 "Misses detected invalid helm3 charts if there are multiple installs with the same name in different namespaces"
We're seeing a bug where we have multiple namespaces with the same chart installed, providing developers with some isolation for testing an application. When calling `pluto detect-helm --helm-version=3 -o wide`, without specifying a namespace, we're seeing pluto not report on multiple charts that need updating because it finds a single chart that doesn't, and doesn't properly report on the charts

[2020-10-20 22:21] bshelton229 commented on #130
A workaround was running this command `kubectl get ns -o jsonpath='{.items[*].metadata.name}'  | tr ' ' '\n' | xargs -L 1 pluto detect-helm --helm-version=3 -o wide -n` to explicitly call pluto against each namespace individually. This found all invalid charts.

[2020-10-21 15:26] sudermanjr commented on #130
Thanks for the detailed report. We will take a look

[2020-10-21 16:09] sudermanjr commented on #130
I attempted to reproduce this in a 1.16 cluster.

I installed 4 copies of a helm chart. The one in `nsdemo0` had no deprecated versions, and the other three all have a deployment that is extensions/v1beta1

[code]

Then I ran pluto

[code]

This is the behavior I expect, so I'm not sure how to reproduce the issue. If you can provide more detailed steps to reproduce that would very helpful.

[2020-10-21 17:08] bshelton229 commented on #130
@sudermanjr the bug only manifests if they have different revisions within the cluster, even if all the charts need updates. I was able to reproduce this this morning, let me pull some data together. Try a helm upgrade on some of the installs to get the revisions to be different between them.

[2020-10-21 17:19] bshelton229 commented on #130
Sorry I have to grep, I don't have time to boot up a temp cluster at the moment. I can repro by installing a chart we use for testing called `crashlooper` in the `ops` and `say-hi` fake namespaces. I then upgrade the one in the `say-hi` namespace so it has a different revision of 2.

[code]

[code]

Now using a branch where I take out the problem release version and is deployed checks, we get the

[2020-10-22 01:57] bshelton229 commented on #130
I was able to track down the issue. I don't think most of the functions in helm's [pkg/storage/storage.go](https://github.com/helm/helm/blob/v3.3.4/pkg/storage/storage.go) are safe when the underlying secrets driver contains secrets from multiple namespaces. Especially the methods that take a deployment name as a single argument.

When a namespace isn't selected, [storage.ListDeployed](https://git

[2020-10-26 16:36] RudyBone opened #131 "Does targeting a version require an external call to obtain the K8s swagger.json for the targeted version?"
I work in an air gapped environment.  If I specify a target version, say v1.18.0, will this result in your pluto binary calling out to the K8s website to obtain the swagger.json file for that version or other available deprecation info?  If so is there a cli option to provide the swagger.json for the targeted version?

[2020-10-26 16:38] sudermanjr commented on #131
Unfortunately the api spec doesn't include deprecation info (or it didn't when we created the tool), so there's no call to retrieve it.

[2020-10-26 17:58] RudyBone commented on #131
So without probing too deeply, then how does your deprecation check work
given a specific target.  Also while there is no FIELD in the swagger.json
for deprecated, the api description field does have the word DEPRECATED in
it.  This is apparently what the kubepug projec uses. (a sort of competitor
to you which we have eliminated because they don't handle the problem as
outlined in the second parag

[2020-10-26 23:23] sudermanjr commented on #131
I didn't find the api description route to be as "robust" as we would have liked. We use this file which we maintain to create deprecated version listings.

https://github.com/FairwindsOps/pluto/blob/master/versions.yaml

This also allows other users to add to the listing via [custom checks](https://github.com/FairwindsOps/pluto#adding-custom-version-checks), and it makes it so that a PR to add mo

[2020-11-01 20:13] ishankhare07 opened #132 "Allow passing in a kubeclient or config when creating NewHelm"
Allow passing in a kubeclient of kube config in the [NewHelm](https://github.com/FairwindsOps/pluto/blob/c6f7c800f1dc16815ce8cefeed9142719b498710/pkg/helm/helm.go#L60) function.

This would allow us to use / call the helm deprecation code programmatically on a bunch of cluster.

We currently have about ~90 clusters for which we want to test 1.16 deprecations and its not feasible to have each of th

[2020-11-02 17:07] sudermanjr commented on #130
@lucasreed, You're a lot more familiar with the Helm code. Would you have time to take a look at this sometime soon(ish)?

[2020-11-02 19:08] #132 closed

[2020-11-02 19:13] lucasreed commented on #130
@bshelton229 I'll echo Andy and thank you for the detailed report, it all makes perfect sense. I'll see what I can put together to fix this issue.

[2020-11-04 20:23] #130 closed

[2020-11-06 18:16] lucasreed commented on #131
Closing this for now, feel free to re-open or open a new issue if you have further questions.

[2020-11-06 18:16] #131 closed

[2020-11-06 18:17] lucasreed commented on #126
All the RBAC related apiVersion removals we currently have in `versions.yaml` as being removed in v1.20 should actually be removed in v1.22.

[2020-11-06 18:17] sudermanjr commented on #126
podDisruptionBudget and podDisruptionBudgetList in policy/v1beta1 is deprecated in 1.22. No replacement and no removal yet
HPA and HPAList in autoscaling/v2beta1 are deprecated in 1.22. Replaced by v2beta2. No removal date yet.
CronJob in batch/v1beta1 is deprecated in 1.22. No replacement and no removal

[2020-11-06 18:54] lucasreed commented on #126
I think HPA and HPAList should have replacement api as `autoscaling/v1`. `autoscaling/v2beta2` is also deprecated in 1.22

[2020-11-06 19:30] #126 closed

[2020-11-17 06:06] TonyHuaPei opened #136 "can this tool used as an go libary in the future?"
hope this tool can be used as an go lib in the future

[2020-11-17 14:43] sudermanjr commented on #136
Could you elaborate on your specific use-case here?

[2020-11-18 02:53] TonyHuaPei commented on #136
because this tool is write by golang, hope it can be used as a Go library as well as being used as a command line tool.
The module can be imported like so:
import (
  "github.com/FairwindsOps/pluto"
)

[2020-11-18 18:14] sudermanjr commented on #136
I understand what a go library is and how imports work.

I meant, what types of things would you like to use the library for? Do you just want the api package for the versions list? Or do you want the helm and finder packages?

Pluto as entire package will not be usable as a library because it is written as a CLI tool. You might consume the underlying packages, but without understanding the use-ca

[2020-11-18 18:21] #114 closed

[2020-11-25 15:20] davidnortonjr-sps opened #137 "Use Deprecated API metrics in 1.19"
Pluto has been a great tool in identifying deploy-time usage of deprecated APIs. However, we still have a bit of a blind spot when it comes to runtime usage of deprecated APIs -- e.g. controllers, etc.

[Kube 1.19 introduces metrics indicating deprecated API usage](https://kubernetes.io/docs/reference/using-api/deprecation-policy/#rest-resources-aka-api-objects), as well as an annotation on audit

[2020-11-25 16:26] sudermanjr commented on #137
@davidnortonjr-sps Thanks for the suggestion, I think it's definitely something we should consider looking into.

[2020-12-01 19:44] lucasreed commented on #136
Closing this since the use-case for making a module to be consumed isn't clear and feels out of scope for what we want to accomplish with this project.

[2020-12-01 19:44] #136 closed

[2020-12-01 19:56] RudyBone opened #138 "Question: I don't actually need a helm 2 or 3 binary to run pluto?"
Looking through the code for 3.5.2.  It would appear that I don't actually need helm 2 or 3 binaries themselves to run pluto i.e. you are just cracking open (using their proto-buf definition) the release secrets/configmaps and doing a normal detect on them ?

[2020-12-01 19:57] sudermanjr commented on #138
That is correct, we import the helm package in order to interact with releases in the cluster.

[2020-12-02 09:41] adberger opened #139 "networking.k8s.io/v1beta1 deprecation missing"
See: https://kubernetes.io/docs/setup/release/notes/#api-change

Proposed new values:
[code]

[2020-12-02 14:27] lucasreed commented on #139
Thank you for this! Our original ingress deprecation/removal block was based on [this post](https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/), thank you for the update, I've created #140 with this addition.

[2020-12-02 14:28] #138 closed

[2020-12-02 14:36] #139 closed

[2020-12-08 17:30] RudyBone opened #141 "Remove DEPRECRATION warning from output when using --helm-version 2 and -ojson"
How do I get rid of the DEPRECATION warning when run v3.5.2 against helm2 using -ojson.  Tried redirecting stderr but it didn't work.

[2020-12-08 18:21] lucasreed commented on #141
Yes, it currently outputs to stdout which if you're trying to parse as json probably isn't a great experience.

Definitely my number one recommendation is to migrate to helm 3, as helm 2 isn't supported by the maintainers any longer.

We'll talk internally on whether we want to patch an older release with this change.

[2020-12-09 19:25] RudyBone opened #142 "Exit codes"
NEVER MIND. I DIDN'T READ THE DOCS CLOSELY ENOUGH!

Running pluto 3.5.2.

pluto detect-helm  gives me valid output but the exit code is 3

pluto detect-helm --target-versions k8s=v1.15.0 --helm-version 3  gives me valid output but an exit code of 2

How am I supposed to write bash script with this unpredictable behavior?

[2020-12-09 19:45] lucasreed commented on #142
No worries, feel free to re-open if you  have further questions on the exit codes.

[2020-12-09 19:45] #142 closed

[2020-12-16 17:29] lucasreed commented on #141
@RudyBone We discussed this internally and we unfortunately don't have the bandwidth to maintain long lived release branches to make patch changes like this. Since helm 2 is officially not supported we no longer support changes to the helm 2 output in older versions of pluto. Apologies for this inconvenience.

[2020-12-16 17:29] #141 closed

[2021-01-11 14:36] mkczuk opened #147 "Update admissionregistration.k8s.io/v1beta1 and apiextensions.k8s.io/v1beta1 removal version"
Removal version of apiextensions.k8s.io/v1beta1 and admissionregistration.k8s.io/v1beta1 was changed from v1.19 to v1.22:
https://github.com/kubernetes/kubernetes/issues/82021
https://github.com/kubernetes/kubernetes/issues/82022

[2021-01-11 21:46] #147 closed

[2021-01-13 17:14] #102 closed

[2021-01-27 14:19] mac8005 opened #152 "Pluto not detecting networking.k8s.io/v1beta1 deprecation in v1.19.x"
Pluto Version 4.0.4
Kubernetes: v1.19.6

[code]

But Pluto does not report anything:

[code]

[2021-01-27 14:24] sudermanjr commented on #152
Can you try using the target versions flag to specify the k8s version you are expecting to use?

https://pluto.docs.fairwinds.com/advanced/#target-versions

[2021-01-27 14:26] mac8005 commented on #152
Thank you so much. This was the trick👍

[2021-01-27 14:26] #152 closed

[2021-01-27 14:26] sudermanjr opened #153 "Update default target version"
I propose we update the default k8s target version to 1.19

[2021-02-16 09:22] tomkerkhove opened #155 "Provide support for Windows/Chocolatey"
Provide support for Windows by installing through Chocolatey.

[2021-02-16 13:19] sudermanjr commented on #155
I think goreleaser will do this. I'll have to take a look at how it works.

[2021-02-24 05:08] OmegaVVeapon opened #159 "Official Docker image?"
Was looking for a Pluto docker image in Dockerhub but didn't find one or saw any Github actions that would take care of this.

Does such an image exist?

For now, I just build the included Dockerfile and it worked great 👍

[2021-02-24 13:15] sudermanjr commented on #159
We publish the image on quay.io in the fairwinds repository.

[2021-02-24 20:04] #159 closed

[2021-03-12 22:01] Jonnymcc opened #161 "Suggested replacement for target version not available"
I have an ingress using `extensions/v1beta1` and when specifying target version 1.17.0 it shows the replacement as `networking.k8s.io/v1`. Ingress `networking.k8s.io/v1` is not available in 1.17 though and is introduced in 1.19.

I ran `pluto detect -t k8s=v1.17.0 release.yaml`
[code]

Could pluto only show a replacement that is available for the target version? Isn't this the expectation?

[2021-03-12 22:08] sudermanjr commented on #161
That's an interesting case. I think when we built the list originally we assumed that the replacement was available at the time of deprecation. We would probably have to do a decent amount of work to account for that if it's not the case.

I'm pretty sure that networking.k8s.io/v1 is available in 1.17 though.

[code]

[2021-03-12 22:08] sudermanjr commented on #161
Checked an eks cluster running 1.18 and it was available there as well.

[2021-03-12 22:24] Jonnymcc commented on #161
True the api version is available for some resources, but not for ingress.
https://v1-17.docs.kubernetes.io/docs/reference/generated/kubernetes-api/v1.17/#ingress-v1beta1-networking-k8s-io

[2021-04-26 18:51] #153 closed

[2021-04-26 18:51] #155 closed

[2021-04-26 18:51] #161 closed

[2021-08-31 10:40] tamademicheli opened #196 "Pluto cannot parse deprecation when moustache template are applied"
IS: Pluto on this template doesn't recognise the deprecated api, am i doing something wrong ?
SHOULD: spot it

**Doesn't work:**

[code]

[code]

**Work:**

[code]

[code]

[2021-08-31 12:28] rbren commented on #196
Hi there!

If you want to run Pluto on a Helm chart, you'll need to run [helm template](https://helm.sh/docs/helm/helm_template/) first to generate a YAML file, then run pluto on the YAML file.

Hope that helps!

[2021-08-31 12:28] #196 closed

[2021-08-31 15:35] aaron-hastings-travelport opened #197 "Invalid syntax in Homebrew tap"
Hi team,

Getting an error when installing the Homebrew tap:

[code]

OS: macOS 11.5.2 Big Sur
Architecture: Apple Silicon M1

Homebrew version details:
[code]

Let me know if I can provide additional details.

Thanks,
Aaron

[2021-09-08 23:02] sudermanjr commented on #197
Thanks for the report. We'll take a look!

[2021-09-17 20:24] swade1987 commented on #104
I was under the impression that at present this type of check was out of scope, because we could also check the use of `serviceAccount` via `serviceAccountName` in the `Deployment` resource as well.

[2021-09-27 10:08] dre2004 opened #202 "Windows binary support"
Hello team,

Would you consider adding a Windows binary release & target in the Makefile? I've been able to build one for myself but I'm sure it will be helpful for others.

[2021-09-27 13:39] lucasreed commented on #202
Hello! We can certainly work on that, thanks for the suggestion.

[2021-09-27 14:28] #202 closed

[2021-09-27 15:32] lucasreed commented on #197
Ahh I think the issue is that Nova builds a Darwin binary but does _not_ build a Darwin ARM binary so likely this issue is only for Mac M1 machines. I'll open the relevant Issue in the nova repo and reference this.

[2021-09-27 18:15] #197 closed

[2021-09-27 18:18] lucasreed commented on #197
Feel free to re-open this if you are still having issues. The release of nova should update the tap, but may take a few moments.

[2021-09-28 10:57] aaron-hastings-travelport commented on #197
Awesome - I can confirm that works now @lucasreed. Thanking you kindly!

[2021-10-06 19:00] andreadecorte opened #205 "Support custom columns in markdown output"
Hi,
I think it would be interesting to support custom columns in markdown output in case the custom columns flag is set, while keeping the current behaviour if it is not specified.
I can work on a PR if you are ok with the change

[2021-10-06 20:46] sudermanjr opened #207 "Move from pkger to embed"
Currently, pkger is used to incorporate the versions file. It would be good to move to using the go-native embed.

[2021-10-06 20:48] sudermanjr opened #208 "Panic in detect-files (with all flags)"
Built from a99056e1ed88755093a1ccb4188f1b8e88e0cfd0

[code]

[2021-10-07 16:49] #205 closed, assigned to andreadecorte

[2021-10-13 19:22] kevinmgates opened #210 "Support for logic in Helm charts?"
I'm running pluto against a Helm chart and it can detect depreciated APIs in "regular" yaml files as expected, but yaml files that have logic embedded slip past the detection. Example here:

{{- if semverCompare ">=1.14-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1beta1
{{- else -}}
apiVersion: extensions/v1beta1
{{- end }}
kind: Ingress

Is this expected? Thank you.

[2021-10-14 14:48] #210 closed, assigned to rbren

[2021-10-14 15:00] mausch opened #211 "Comparison with kubepug"
Hi and thanks for this project, detecting deprecated resources is very useful.
I've been using [kubepug](https://github.com/rikatz/kubepug) for this so far, I wonder how pluto compares to that project?

[2021-10-15 08:21] tomislater opened #212 "Is autoscaling/v2beta2 really deprecated?"
[code]
I have got such output, but according to this document: https://kubernetes.io/docs/reference/using-api/deprecation-guide/ there is no info about deprecating this API.

I also see information about deprecated `policy/v1beta1` (PodDisruptionBudget), and it looks correct: https://kubernetes.io/docs/reference/using-api/deprecation-guide/#poddisruptionbudget-v125

[2021-10-15 14:52] #212 closed, assigned to lucasreed

[2021-10-19 15:34] gabegorelick opened #214 "`detect-files` segfaults on bad argument"
`pluto detect-files foo`, which you may run forgetting that you need the `-d` flag, generates a segfault.

[code]

This occurs whether or not `foo` is an actual file or directory on disk.

`pluto version`:  Version:5.0.1 Commit:fc5f59fcc8722ac94315c5642e377c6e0cc27614

[2021-10-19 16:05] #214 closed

[2021-10-19 16:05] gabegorelick opened #215 "Ability to specify exemptions"
Similar to https://polaris.docs.fairwinds.com/customization/exemptions.

Example use case: `policy/v1beta1` was deprecated in Kubernetes 1.21, but won't be removed until 1.25. For my own first-party code, I want to enforce that `policy/v1` is used for any new code. But it doesn't make sense for third party vendors to migrate to `policy/v1` yet since that would mean dropping support for Kubernetes

[2021-10-19 17:04] sudermanjr commented on #208
Hmmm, possibly an issue in the upstream yaml parser: https://github.com/go-yaml/yaml/issues/665

[2021-10-19 17:16] mausch commented on #211
Thank you for the detailed answer!

[2021-10-19 18:36] #207 closed, assigned to nobody

[2021-10-19 18:36] #208 closed, assigned to sudermanjr

[2021-10-19 18:42] lucasreed commented on #215
Hey @gabegorelick :wave:

Have you tried `--ignore-deprecations`? Here is some documentation on it: https://pluto.docs.fairwinds.com/advanced/#ci-pipelines

If I remember correctly, this should still show the deprecations but not give you an exit code of `2` for the CI run. Please let us know if this works or not in your use-case.

[2021-10-19 19:26] lucasreed commented on #215
Ok, thanks for that feedback. We'll have some chats about this to see if we can support it and what it would look like.

[2021-10-26 11:37] dhaugli opened #217 "Homebrew/Linuxbrew warning when installing Pluto"
Warning: Calling bottle :unneeded is deprecated! There is no replacement.
Please report this issue to the fairwindsops/tap tap (not Homebrew/brew or Homebrew/core):
  /home/linuxbrew/.linuxbrew/Homebrew/Library/Taps/fairwindsops/homebrew-tap/Formula/pluto.rb:9

[2021-10-26 15:23] #217 closed, assigned to lucasreed

[2021-10-26 15:38] lucasreed opened #219 "Explore using the Dynamic Client to do in-cluster checks without relying on helm"
When using the [dynamic sub-package](https://pkg.go.dev/k8s.io/client-go/dynamic) of the kubernetes go-client package, it should be possible to find resources with specific api versions and report on those directly using the kubernetes API instead of relying on helm secrets. We'll use this issue to track the attempt at this enhancement.

[2021-10-27 11:15] stevehipwell opened #221 "Add Scoop as an installation method on Windows"
The installation of Pluto via Scoop on windows has been enabled (via https://github.com/ScoopInstaller/Main/pull/2828) so you might want to update the docs to show this?

[code]

[2021-10-27 17:33] #219 closed, assigned to lucasreed

[2021-10-28 14:09] #221 closed, assigned to lucasreed

[2021-10-29 18:15] gdubicki opened #224 "Cannot install on Apple Silicon Mac"
Hi,

This may be re-occurence of the #197, but it looks worse on a first glance:

[code]

OS: macOS Big Sur 11.6.1 (20G224)
Architecture: Apple Silicon M1

Homebrew version details:
[code]

Thanks in advance!

[2021-11-08 15:22] lucasreed commented on #224
Thanks for raising this. Based on that output I think the offender is the insights-cli formula. I've submitted a PR that should help goreleaser add the arm64 section to the formula for Darwin builds: https://github.com/FairwindsOps/pluto/issues/224

[2021-11-12 15:39] garethahealy opened #226 "Contribute tekton task"
Would be nice to have a tekton task in their catalogue that used pluto:
- https://github.com/tektoncd/catalog

Which should get more awareness of the tool and adoption in the CI/CD workflows.

[2021-11-16 20:20] sudermanjr commented on #226
@garethahealy Sounds like an interesting idea. I'm not intimately familiar with tekton, but we would be happy to collaborate if someone wants to contribute this to the catalog.

[2021-11-19 13:18] garethahealy commented on #226
https://github.com/tektoncd/catalog/pull/866

[2021-11-23 14:37] #224 closed

[2021-11-23 21:13] MarkAndersonTrocme opened #227 "Create a circleci orb"
I am looking to implement pluto into our cirlceci pipelines. It would be great if there was an orb to cut down on duplicated code between all of our pipelines.

Is that something the team was looking to add as I already see an Orb for [rok8s-scripts](https://circleci.com/developer/orbs/orb/fairwinds/rok8s-scripts)?

I am also happy to help with a PR

[2021-11-23 21:20] sudermanjr commented on #227
@MarkAndersonTrocme  That's a great idea! We do already publish the rok8s-scripts orb, but never got around to writing one specifically for Pluto.

A PR would be awesome for this. I would love to see similar patterns to how we do the rok8s orb, just to make the workflow of testing/publishing easier.

[2021-11-23 21:29] MarkAndersonTrocme commented on #227
@sudermanjr great, I will give the rok8s-scripts orb a read through and see what I can come up with, more than happy to try to contribute this PR.

[2021-11-30 13:15] matthewmrichter opened #229 "Homebrew 'unneeded' deprecation"
OS: Mac OS Big Sur
Homebrew version: 3.3.6

Getting this message when running brew operations:

[code]

[2021-12-01 14:30] lucasreed commented on #229
Thanks! It's on our radar to fix these in a couple of our projects. I'll try and get to this one today.

[2021-12-09 09:17] tomislater opened #231 "Error: unknown flag: --kubeconfig"
[code]

This command worked in `5.1.0` but after upgrading to `5.1.1` looks that this flag has been removed 🤔

[2021-12-09 09:35] tomislater commented on #231
I just set `KUBECONFIG` env var to `/root/.kube/config` and removed `--kubeconfig`. Now, it works correctly.

[2021-12-09 09:35] #231 closed

[2021-12-10 15:03] #227 closed

[2021-12-28 03:48] oguzhanaygn opened #233 "Some component kinds are not detectable with Pluto"
Hi,
Recently I'm working on a massive upgrade for my k8s clusters and I'm looking for a tool that checks all my components' ApiVersions. Pluto seems very handy but there are some problems about detection.
Some objects' deprecation can not be detected with Pluto, for example;

[code]
Any help will be appreciated in this matter.
Thank you very much.

[2021-12-28 15:06] sudermanjr commented on #233
Is this because those are not in the [list of deprecations](https://github.com/FairwindsOps/pluto/blob/master/versions.yaml), or because of something else?

If it's just the list, we can add them fairly easily and release a new version.

[2021-12-28 16:33] #233 closed

[2021-12-28 19:46] sudermanjr commented on #226
Very cool. Thanks!

[2021-12-29 16:44] MarkAndersonTrocme opened #237 "CircleCI orb not working"
I believe the docker image used for the circleci orb needs to be ran not as `USER nobody` and also needs git installed. This would allow the container to clone the repo that it is trying to detect.

![image](https://user-images.githubusercontent.com/16004416/147682405-c04a69d5-fece-4a5a-a587-def0d9187858.png)

When I disable checkout (`checkout: false`) I get the following error:
![image](https://

[2021-12-29 16:46] sudermanjr commented on #237
Would it be better to change the approach slightly and just provide a command to install the specified version of Pluto from the github binary at build time? This would allow using any executor that was linux. Then the workflow could just use one of the standard Circle images.

[2021-12-29 17:47] MarkAndersonTrocme commented on #237
So no pluto orb? and you would use `cimg/base` and do install pluto into it?

[code]

I think having an orb would make it much cleaner vs this approach

[2021-12-29 18:01] MarkAndersonTrocme commented on #237
I think this dockerfile would work:

[code]

and it can be build and pushed under: `quay.io/fairwinds/pluto:circleci-<<version>>`

[2021-12-29 18:19] sudermanjr commented on #237
Definitely still an orb, but add an `install` command to the orb that allows installing the pluto binary. Then the pluto `detect-files` job will install pluto first, and then run it. That way it can use the cimg/base as the only executor.

Orbs don't require that there is an image specific to that orb, they are just reusable config.

[2021-12-29 18:21] MarkAndersonTrocme commented on #237
ah right, yeah that approach seems very clean!

[2021-12-29 18:22] sudermanjr commented on #237
I have a PR started locally if you want to riff off of that. I'll push it up in a minute

[2021-12-29 18:26] sudermanjr commented on #237
Here's the concept I'm thinking. LMK what you think and if you want to finish it up.

https://github.com/FairwindsOps/pluto/pull/239

[2021-12-29 18:36] MarkAndersonTrocme commented on #237
Haha just at the same point locally, I'm writing the script now to install pluto. I can send the PR later today.

[2021-12-29 18:57] sudermanjr commented on #237
Awesome. Thanks!

[2021-12-29 20:36] #237 closed

[2021-12-29 20:38] sudermanjr commented on #237
I just released v5.2.3 of the orb

[2021-12-30 18:21] MarkAndersonTrocme opened #242 "circleci job not exiting when finding deprecated or removed apis"
scripts are always returning exit code 0 so circleci never fails when pluto finds deprecated or removed apis.

![image](https://user-images.githubusercontent.com/16004416/147778295-4d8e17b3-51b5-4c8d-9ed3-ff528b0a6c23.png)

[2022-01-07 21:38] #242 closed

[2022-01-08 01:01] insertjokehere opened #244 "Some deprecated cert-manager resources aren't listed"
cert-manager deprecated the `v1alpha2`, `v1alpha3` and `v1beta1` versions of all their resources in [v1.4.0](https://cert-manager.io/docs/release-notes/release-notes-1.4/), and removed them in [v1.6.0](https://cert-manager.io/docs/release-notes/release-notes-1.6/), but these versions are not detected by pluto, but the older `v1alpha1` version is

[2022-01-10 16:39] lucasreed commented on #244
👋  @insertjokehere thank you for this report! I think those fell off our radar while focus has been more on the k8s deprecations/removals. We will get a PR up asap.

[2022-01-10 16:44] #244 closed

[2022-01-12 15:08] lucasreed commented on #226
Since the PR is open in a different repository, I'm going to close this issue. Thank you for getting this out there @garethahealy! 🎉

[2022-01-19 01:43] vroad opened #251 "Replacement apiVersion for autoscaling/v2beta2 is autocaling/v2, not autoscaling/v1"
### What happened?

Replacement apiVersion for autoscaling/v2beta2 is `autocaling/v2`, not `autoscaling/v1`,  according to https://kubernetes.io/docs/reference/using-api/deprecation-guide/#horizontalpodautoscaler-v126

Isn't `autocaling/v1` older than `autoscaling/v2beta2`? v1 was promoted to GA on k8s v1.2, which was released in March 2016.

https://github.com/kubernetes/kubernetes/blob/ea0764452

[2022-01-20 01:59] sudermanjr commented on #251
Great catch. Thanks @vroad.

Do you want to make the PR to fix the versions yaml file?

[2022-01-24 01:37] vroad commented on #251
Looks like you already fixed it, thank you.

Another thing I was not sure was that how HorizontalPodAutoscaler List resource is used by pluto. Is it even possible to create k8s resources with `kind: HorizontalPodAutoscalerList`?

[2022-01-24 15:56] sudermanjr commented on #251
You know, I'm not actually certain about that. I have seen some objects that refer to a list like that, and in the API it's an endpoint. Never tried applying one specifically myself.

[2022-01-24 15:56] #251 closed

[2022-02-01 08:57] ErickStaal opened #254 "Verifying checksums.txt: is this a gpg signature?"
Question: when downloading a pluto release there is a checksums.txt and a checksums.txt.sig file, however, when I try to verify this with gpg I get the message that the sig file doesn't contain valid OpenPGP data. Am I using the wrong tool to verify the signature or is this a bug?

[2022-02-01 15:07] sudermanjr commented on #254
Thanks for reaching out!

We have started using [cosign](https://github.com/SigStore/cosign) to sign the checksums. I am still working on how we're going to publish our public key and publish documentation on it, but here's the public key for now:

[code]

[2022-02-01 20:01] rbounds opened #255 "Evaluate elements for `kind: List`"
**Is your feature request related to a problem? Please describe.**
We have several services that we bundle as lists. I'd like to be able to run pluto against a `kind: List` with out having to manually  inpacking that list.

**Describe the solution you'd like**
When pluto sees a list it should iterate over items[] appending the result for each element to its report.

**Describe alternatives you've

[2022-02-01 20:04] sudermanjr commented on #255
@rbounds Thanks! I think this is a great idea. I'll mark it as enhancement. Would definitely welcome community support as well if anyone wants to tackle this.

[2022-02-02 06:15] ErickStaal commented on #254
given that it is a public key it should be possible to publish the public key with the other assets of a release. Only question remaining is if that would be considered secure enough.
Btw the above public key works (after removing trailing spaces) for verifying the checksums.txt file for pluto v5.3.4, but doesn't work for verifying the checksums.txt for pluto v5.3.3. I named the file above pluto.p

[2022-02-10 20:34] sudermanjr commented on #254
Currently the plan is to publish the key to a URL we control that will be well-known for all of our OSS. It should make verification easy. You can try it out in our test env like so:

[code]

I was able to verify the 5.3.3 release myself, so not sure what's up with that.

[code]

[2022-02-11 03:13] brianmay opened #256 "incorrecty reports old version on ingress"
### What happened?

I upgraded ingress objects to networking.k8s.io/v1.

I upgrade Kubernetes from 1.19 to 1.20 and then 1.21 in case that would help, but it didn't.

### What did you expect to happen?

Pluto should not report on these ingress objects, they are up to date. But it says that the objects are version networking.k8s.io/v1beta1 still.

Looking at the chart applied by helm, confirms that

[2022-02-11 05:46] ErickStaal commented on #254
Tested it with key from url and key downloaded locally with wget. Both methods were successful for v5.3.3. I'll retest v5.3.4 later today.

[2022-02-11 14:34] lucasreed commented on #256
👋  Hey there, thanks for bringing this up. I don't see how it would be possible that we'd incorrectly detect it from the helm release unless you maybe have two revisions of a release marked as `deployed` (There should only ever be one revision marked as `deployed` per release, the rest should show up as `superceded`, you can check this by running `helm history <RELEASE_NAME`). Also, `kubectl` is n

[2022-02-13 23:18] brianmay commented on #256
Thanks for the debugging tips.

Everything seems to be as I expect today. Maybe my brain was not in gear.

Closing.

[2022-02-13 23:18] #256 closed

[2022-02-14 13:34] kylegoch opened #258 "Not All Istio Kinds are `networking.istio.io/v1beta1`"
### What happened?

When scanning Isitio resources, the current Pluto configuration says that all `networking.istio.io/v1alpha3` should be come `networking.istio.io/v1beta1`

https://github.com/FairwindsOps/pluto/blob/v5.3.2/versions.yaml#L302-307

However, this doesnt seem to be the case. [Istio's own docs ](https://istio.io/latest/docs/reference/config/networking/envoy-filter/) show `EnvoyFilter

[2022-02-14 15:21] sudermanjr commented on #258
@kylegoch Thanks for reporting this. I'm not super familiar with the Istio api versions, that set of versions was added via an external contributor. I would be happy to approve a PR to the versions file to incorporate all of the various Istio apiVersions. I know there's quite a few of them, so this might be a bit of an undertaking for us.

Additionally, you can use your own versions file with Plut

[2022-02-14 20:22] kylegoch commented on #258
@sudermanjr I dont actually know much about Istio API Versions either. I dont mind taking a stab at fixing it. However in the meantime, do you think we could delete the check for Istio out of the versions file in Pluto now since it's broken?

Would like to see it not check at all, than to check incorrectly.

[2022-02-14 20:47] sudermanjr commented on #258
Agreed, I opened #259  for this.

[2022-02-14 20:49] sudermanjr opened #260 "Update Istio API Version Deprecations"
**Is your feature request related to a problem? Please describe.**
Related to #258 - We need to update the Istio apis to handle each type of object, and not just be generic.

**Describe the solution you'd like**
Update the versions.yaml with the correct versions.

**Describe alternatives you've considered**
n/a

[2022-02-14 20:49] sudermanjr commented on #258
I also opened #260 to track updating the istio apiVersions

[2022-02-14 20:54] #258 closed

[2022-02-14 22:14] sudermanjr commented on #254
Awesome. Thanks for updating!

I'm going to leave this open so that we remember to update the docs once the new URL is published.

[2022-02-15 10:59] andreadecorte commented on #255
hi @sudermanjr, I will give it a shot, it is indeed something that can be quite useful

[2022-02-15 12:22] ebarped opened #261 "Compatibility Matrix of supported kubernetes versions"
**We cannot know what kubernetes versions is pluto supporting right now.**
In the docs, it says:
[code]

**Describe the solution you'd like**
It would be helpful to have a compatibility matrix in the README/docs which lists the supported kubernetes versions of each pluto´s release.

**If i execute the pluto specifying the k8s version, it does not give useful info**
example 1:
pluto detect-files -t

[2022-02-15 15:22] sudermanjr commented on #261
The default version in the versions file is 1.22. This is the current latest version that we have updated the list to.

That being said, we are human and sometimes miss things, so please feel free to make PRs or file issues for missing versions or things that are inaccurate in the versions.yaml file.

Example 2 is interesting. I haven't thought about what it would do if we put in a random higher (

[2022-02-15 16:31] ebarped commented on #261
Of course, the aim of this issue is to enhance the user experience with this tool (that i find very useful, thanks for implementing it :) )

I was just pointing out that it will be more clear to the user if we had a compatibility matrix or something so we can know easily the version supported/default version of kubernetes that the tool is checking with.

About the example 2 i agree with you, seems

[2022-02-15 18:58] sudermanjr commented on #261
@lucasreed  had a good idea that we could probably do some sort of auto-generated section in the markdown for the README that indicates the "latest supported version" or something like that. Would be fairly easy to do.

Another option would be to explicitly warn when you use a target-version of k8s that is > than the default, suggesting that maybe we haven't included deprecations for that version

[2022-02-16 19:33] #255 closed

[2022-02-16 21:32] #254 closed

[2022-02-17 12:25] mycrEEpy opened #265 "Release image for v5.3 & v5.4"
Can we have a release for v5.3 & v5.4 on quay.io?

Seems like v5.2.6 is the latest version available.

[2022-02-17 14:23] lucasreed commented on #265
Hello, we are migrating to gcr for our container images. You should be able to find the newer images here:
`us-docker.pkg.dev/fairwinds-ops/oss/pluto`

[2022-02-17 14:23] #265 closed

[2022-02-23 18:06] kbrwn opened #277 "did not find expected <document start>"
### What happened?

I have a helm chart with a few subcharts. pluto throws an error when attempting to read these charts:

[code]

clusterrole.yaml:

[code]

### What did you expect to happen?

Pluto would read the helm template file and check the apiVersion of the resource.

### How can we reproduce this?

Git clone the https://github.com/kubecost/cost-analyzer-helm-chart/ chart and run `pluto de

[2022-02-23 18:56] mikejoh opened #278 "Output data in CSV format"
**Is your feature request related to a problem? Please describe.**
This feature request is not related to a problem.

**Describe the solution you'd like**
As a user of `pluto` i would like to have the possibility to output data in a CSV format.

**Describe alternatives you've considered**
I've transformed data as an extra step after i've run `pluto`.

**Additional context**
N/A

[2022-02-23 19:05] sudermanjr commented on #277
When using pluto with helm charts you should not use detect-files, but instead use helm template with a pipe to `pluto detect` For example:

[code]

 Pluto does not recognize helm templates as yaml files (because they aren't :-) )

[2022-02-25 00:52] stevesowerbutts opened #280 "autoscaling/v2beta2 replacement is still showing as autoscaling/v1"
### What happened?

[code]

[2022-02-25 15:29] #277 closed

[2022-02-25 15:30] #278 closed

[2022-02-25 15:38] lucasreed commented on #280
👋  Thanks for this report @stevesowerbutts we'll get it fixed.

[2022-02-25 18:13] #280 closed

[2022-03-01 17:21] chdorb opened #282 "Update versions according to the Kubernetes documentation Deprecated API Migration Guide"
**Is your feature request related to a problem? Please describe.**
No problem

**Describe the solution you'd like**
Update existing versions and add missing k8s components
See the [Kubernetes documentation Deprecated API Migration Guide](https://kubernetes.io/docs/reference/using-api/deprecation-guide/)

**Describe alternatives you've considered**
Nothing

**Additional context**
Nothing

[2022-03-01 18:53] #282 closed

[2022-03-04 18:00] MarkAndersonTrocme opened #285 "CircleCi orb: support env vars for parameters"
**Is your feature request related to a problem? Please describe.**
We have proven the tool works well and that running it as an orb is easy for developers to adopt. However I would like to be able to set default values at the organization level as to:

- which target kubernetes version
- whether to ignore deprecations
- whether to ignore removals

**Describe the solution you'd like**
I would like

[2022-03-04 18:39] lucasreed commented on #285
👋 Hello @MarkAndersonTrocme, thanks for bringing this up! I think you are correct that we can support ENV vars to configure the tool. Two things need to happen:
1. we need to allow env vars to configure the tool in the code (specifically in the `cmd` package where the CLI args are parsed)
2. Optionally, we can put them in the orb. I believe the env vars set in circleci would just work if we suppor

[2022-03-04 18:55] MarkAndersonTrocme commented on #285
@lucasreed supporting env vars in pluto would for sure be the cleanest option.

For CircleCi I think we would need to make some changes to the orb. Right now those are just parameters we pass to the job, either we require them to be ENV vars (don't think that's a good idea) or we support either or.

1. How would we handle precedence? So if the ENV var is set but we pass a different value as a para

[2022-03-04 19:02] lucasreed commented on #285
Ah I understand what you mean now because we provide the configuration in the orb to set these things. I didn't work on the orb code so I have to brush up a bit myself :)

I do think CLI parameters passed would take precedence so you are correct we should accept either/or in the orb, but at least one needs to be set.

[2022-03-07 16:00] jvrahav opened #286 "does not detect PodSecurityPolicy as deprecated"
### What happened?

Ran pluto against directory of manifests with different manifests.

while pluto reported deprecated and removed versions of different api's it did not detect deprecation of PodSecurotyPolicy

### What did you expect to happen?

I expected pluto to report PodSecurityPolicy v1beta1 versions as deprecated

### How can we reproduce this?

1. have a PSP spec in a folder
2. point plu

[2022-03-07 16:43] #286 closed

[2022-03-07 16:56] lucasreed commented on #286
@jvrahav This should be fixed now in `v5.5.2`

[2022-03-08 20:17] lucasreed commented on #285
Linking to this comment as a potential proposal for the CircleCI Orb configuration: https://github.com/FairwindsOps/pluto/pull/288#issuecomment-1061197227

CC: @sudermanjr

[2022-03-09 15:52] lucasreed commented on #285
Re-opening this one since that linked PR only added the environment variable functionality to pluto, not to the orb.

[2022-03-15 17:10] sudermanjr commented on #285
Just catching up on all this. What if we set the default of the parameters in the orb to `$ENV_VAR_NAME` so that it would pull from the external context? Does that work?

[2022-03-15 17:21] MarkAndersonTrocme commented on #285
@sudermanjr I don't think that would work, if we want to read an env var, the parameter type needs to be `env_var_name`? You also need to update the script as it will go into the if as the env var will be set right?  But I may be wrong

[2022-03-15 17:42] MarkAndersonTrocme commented on #285
yeah lol I tried some workarounds but couldn't figure anything else, weird that this is so complex when it seems like a pretty simple and standard use case.

IMO, option 2 would be the cleanest. The other option is maybe just deprecating the parameters and force the use of env vars?

This would allow users to set it at the organization level, and if they want to specify it for a specific workflow

[2022-03-15 17:47] sudermanjr commented on #285
Any time you're dealing with Circle and env vars I feel like things get complicated fast.

2 would be fairly clean, and I am sort of leaning that way, but deprecating might be clean too.

We could definitely just deprecate the parameters and force the use of env vars. We could provide a helper command that would essentially set those based on parameters too. Something along the lines of rok8s-scri

[2022-03-15 17:50] sudermanjr commented on #285
Actually, I like this a lot the more I tinker.

1. In each command, we remove the ability to configure with parameters
2. We create a command called `configure_env` that takes the parameters and puts them in the bash_env
3. In the jobs, we keep the parameters, but conditionally run the `configure_env` command as the first command in the job if you set `use_context_env` to `false`

[2022-03-15 20:58] sudermanjr commented on #285
exactly. I updated that WIP PR to reflect the concept. It's not complete in any way.

[2022-03-16 11:08] jvrahav opened #294 "support to scan live cluster"
Hi,

Can pluto scan live kubernetes cluster.

If not, is there a reason why thats not supported and is there a milestone where it might be supported

Thanks,
Rahav

[2022-03-16 13:24] lucasreed commented on #294
Hi @jvrahav, pluto is able to scan a live cluster if you are using helm. The reason we can only support it this way is that it is currently not possible (or, at least we haven't figured out a way yet) to gather what APIVersions was used at deploy-time. `kubectl` commands will always return the first group out of the discovery docs published by the apiServer or the version you specify when running

[2022-03-16 16:11] sudermanjr commented on #285
@MarkAndersonTrocme  would you be willing to try out `fairwinds/pluto@dev:sudermanjr/orb-env-vars` from #293 ? I _think_ I have a workable solution, but I don't have an easy test env right now.

[2022-03-16 19:29] MarkAndersonTrocme commented on #285
@sudermanjr it's working!

I think I tested all the use cases:

- I set ENV vars
- defined parameters and it used the parameters NOT ENV vars
- set `use-external-context: true` and it read the ENV vars

This looks good to me

[2022-03-16 20:21] sudermanjr commented on #285
Awesome! Thanks for checking it out. I'll get Luke to review and then we can get it out there.

[2022-03-17 21:10] #285 closed

[2022-03-17 21:12] sudermanjr commented on #285
Releasing as v5.6.0

[2022-03-18 13:47] lucasreed commented on #294
I'm going to close this. Feel free to open a new issue if you have more information on what you're looking for out of live cluster scanning.

[2022-03-18 13:47] #294 closed

[2022-03-22 20:12] evanfoster opened #301 "Add a --kube-context flag to select a specific context from a kubeconfig file"
**Is your feature request related to a problem? Please describe.**
I need to run an audit against 100+ running clusters. My team runs multitenant clusters as a provider, so I don't have access to the repos where this code is being deployed from, meaning I have to use `pluto detect-helm`. All clusters are in a single kubeconfig file. To run Pluto in parallel, I currently have to copy my kubeconfig

[2022-03-22 20:31] sudermanjr commented on #301
Thanks for the suggestion! I would definitely be open to a PR for this. I think should be relatively straightforward to add as well.

[2022-03-22 20:35] sudermanjr commented on #301
Looking again, it seems we use the controller runtime config helpers to get the kubeconfig. Not sure how we configure this directly, so it may require some additional effort to add.

[2022-03-22 20:50] evanfoster commented on #301
Agreed, I've been trying to dig through how `kubectl` implements this (total Golang rookie here) and it's not immediately obvious.

[2022-03-22 20:50] sudermanjr commented on #301
Turns out it wasn't too bad. I've got #302 up for it if you want to test.

[2022-03-23 13:36] #301 closed

[2022-03-24 13:22] jvrahav commented on #294
is it possible to support a version of pluto where you pass in the version of the cluster.

Im interested in live scanning of the cluster because there are some components that are deployed dynamically and we dont have access to such manifests. In such cases scanning of live cluster helps us to cover the full breadth of all api's

[2022-04-23 02:10] #260 closed

[2022-04-25 02:15] #261 closed

[2022-04-25 15:03] pcgeek86 opened #312 "🚀 Feature: Check for deprecated API versions on a running Kubernetes cluster"
**Is your feature request related to a problem? Please describe.**

At the moment, Pluto seems to scan local Kubernetes manifest files, and Helm Chart files, for deprecated API versions. However, it doesn't seem to offer the ability to "scan" an actual Kubernetes cluster for deprecated API versions.

**Describe the solution you'd like**

Add a sub-command to Pluto CLI that will scan a live Kuberne

[2022-05-05 07:46] crdnb opened #313 "What is the newest Kubernetes target-version supported by Pluto?"
Hi

We love your tool, many thanks or creation it.
We are not sure what the newest target-version of Kubernetes (1.23 / 1.24) supported by Pluto is?
If it is still 1.16, are there any plans to update the tool for the newest Kubernetes versions? Or are no APIs deprecated anyways since 1.16?

Thank you very much!

[2022-05-06 14:27] yuripallada commented on #312
I"m obviously aware that K8S will happily convert the api version and return a manifest with the newer version, but it should be possible to scan the last-applied-configuration metadata annotation of resources to see what the actual version of the resource was when it was applied to the cluster right?

In my case, when I was upgrading for v1.22, the apiVersion in the metadata of ingress resources

[2022-05-10 17:17] sudermanjr commented on #313
@crdnb Thanks!

We try to keep up to the latest deprecations, but the default version that Pluto targets is in the default versions file https://github.com/FairwindsOps/pluto/blob/0633bbd36f987fe24ad003d2eccd855708134836/versions.yaml#L494-L497

We recently updated the deprecations though, and some of them are known out to future versions of Kubernetes. At the moment, we are definitely up to date

[2022-05-13 06:59] cynici opened #317 "invalid yaml: yaml: line 34: could not find expected ':'"
### What happened?

In short, there are two issues:
- pluto fails silently (false negative)
- pluto can't handle conditional Helm template

I was puzzled when pluto missed a chart that uses API version removed in Kubernetes 1.22 and incorrectly reported

So I ran `pluto --target-versions k8s=v1.22.0 detect-files -v9`

[code]

Below is a snippet of my chart beginning from the offending line 34:

[c

[2022-05-13 13:09] sudermanjr commented on #317
Pluto does not directly check helm charts, only valid yaml. Instead, you must helm template and output that to pluto.

Please see the docs here: https://pluto.docs.fairwinds.com/quickstart/#helm-chart-checking-local-files

`helm template e2e/tests/assets/helm3chart | pluto detect -`

Thanks!

[2022-05-13 13:09] #317 closed

[2022-05-25 15:33] kylegoch opened #320 "Target Version Specified for Kubernetes, but Pluto Shows Higher Versions"
Pluto 5.7.0

I am on kubernetes 1.21, and would like to run pluto to target 1.22. I am running the following:
`pluto detect-helm -owide -t k8s=v1.22.0`

However Pluto is returning stuff that is removed in v1.25.0. Thats great, but I really just want to see what's removed in v1.22.0.

From the docs it seems `-t k8s=v1.22.0` would do this. However in practice its just showing me everything. My resul

[2022-05-25 15:38] sudermanjr commented on #320
Pluto is likely showing you APIs that have been _deprecated_ in 1.22, and will be removed in 1.25.

This flag might give you what you're looking for:

`-r, --only-show-removed                Only display the apiVersions that have been removed in the target version.`

[2022-05-25 20:01] kylegoch commented on #320
Oh marvelous! Thank you. I thought target version flag was for removal. Adding `-r` worked perfectly!

Thank you @sudermanjr

[2022-05-25 20:01] #320 closed

[2022-06-08 21:39] bbensky opened #330 "Only check Helm secrets for most recent release in a Deployed state."
**Is your feature request related to a problem? Please describe.**

Helm may report multiple revisions as being in a Deployed state. This can cause Pluto to report that objects might have outdated API versions when they have been have been updated in a current revision.

**Describe the solution you'd like**

Instead of looking at all revisions of a release in a Deployed state, only look at the sec

[2022-06-08 21:49] sudermanjr commented on #330
At the very least, I think we should warn that there are multiple revisions at play here.

[2022-06-14 08:52] tomislater opened #332 "error getting helm configuration (invalid apiVersion (client.authentication.k8s.io/v1alpha1)) in pluto 5.8.0"
After upgrading pluto to `5.8.0` (from `5.7.0`) I have got this error:

[code]

My kubectl client version: `1.22.6` and server version: `1.22.6`. I see this problem only with `pluto detect-helm`.

I use this image: https://hub.docker.com/r/alpine/k8s (`1.22.6`)

My aws cli version:
[code]

[2022-06-15 10:05] mtparet commented on #332
Same issue

[2022-06-15 14:56] tomislater commented on #332
I think it has been fixed here: https://github.com/aws/aws-cli/blob/develop/CHANGELOG.rst#1240 ?

I updated `alpine:k8s` image to `1.22.9` and it started working. AWS CLI version has changed in this image:
[code]

[2022-06-15 15:18] sudermanjr commented on #332
Ah yeah, this issue has been cropping up for me all over the place. Updating awscli generally handles it. Thanks for following up!

[2022-06-15 15:18] #332 closed

[2022-06-22 09:15] Tim-Schwalbe opened #337 "Some deprecated APIs are not found"
### What happened?

I am running Cert-Manager in my cluster as helm chart and in the logs of Cert-Manager I see:
`networking.k8s.io/v1beta1 Ingress is deprecated in v1.19+, unavailable in v1.22+; use networking.k8s.io/v1 Ingress`

But with ` pluto detect-helm` it is not shown in the output. Only a few other tools:
[code]

### What did you expect to happen?

I expect to see all deprecated APIs. Its

[2022-06-22 14:28] sudermanjr commented on #337
We have had multiple issues with the 1.22 upgrade where certain controllers (like cert-manager) are querying the api for the removed apiVersion. This cannot be detected by Pluto since it's not an actual Kubernetes object issue, and must be addressed by updating those controllers.

[2022-06-23 07:38] Tim-Schwalbe commented on #337
Would it be detected if the tools really using deprecated objects? In this case a deprecated ingress?

[2022-06-23 12:51] sudermanjr commented on #337
Pluto will detect incompatible objects that are deployed with helm.

In this case though, the version of cert-manager you are running is not compatible with 1.22 (and is EOL). The cert-manager controller is looking/watching for ingresses in the cluster, and using client code that does not support the new apiVersions.

https://cert-manager.io/docs/installation/supported-releases/

[2022-06-23 12:58] #337 closed

[2022-06-23 12:59] Tim-Schwalbe commented on #337
after the 1.8 update its also gone from the logs. Thanks!

[2022-07-14 11:16] jlangford9284 opened #351 "Unable to run pluto via Azure DevOps Pipeline"
### What happened?

I want to check our helm charts as part of a pipeline

I am able to run this locally

`helm template /helm/directory | ./pluto detect - `

however when I run this as part of an Azure DevOps Pipeline I am faced with this error

`Cannot run a document in the middle of a pipeline: C:\a\2\s\pluto.`
`At C:\a\_temp\d3c2dca5-aa11-4e53-afac-9bad2cc0cb19.ps1:34 char:61`
`+ ... mplate C:

[2022-07-20 15:30] aaronjpitty opened #357 "Allow a flag to check different kube contexts."
**Is your feature request related to a problem? Please describe.**
Not really a problem but it means we can automate pluto checks across all our clusters, which all have separate kubernetes contexts as they reside in different projects

**Describe the solution you'd like**
It would be ideal to have a --context flag so you can run "pluto --context my-context-name detect-helm" this would mean we cou

[2022-07-20 16:58] sudermanjr commented on #357
Hey there! Thanks for the request! This should be straightforward to implement if you wanted to take a swing at it? Otherwise we can add it to our list :-D

[2022-07-26 14:22] sudermanjr commented on #357
Actually, I completely forgot we already added this via the `--kube-context` flag

[code]

[2022-07-26 21:56] sudermanjr commented on #330
@bbensky Curious about your thoughts on how to handle this. Should we just take the latest, or should we log the warning and move on, letting the user fix their broken Helm state?

[2022-07-27 17:50] bbensky commented on #330
I think it makes sense to log the warning, with an example command for removing the old versions, in case the broken Helm state also causes issues elsewhere.

[2022-07-27 18:10] #330 closed

[2022-08-16 14:29] abhijit-dev82 opened #363 "CSIStorageCapacity API version details not included for 1.24 release"
### What happened?

CSIStorageCapacity API moved to stable v1 in Rel 1.24, hence v1beta API version should be marked by pluto as deprecated. Check below link for details

https://kubernetes.io/blog/2022/04/07/upcoming-changes-in-kubernetes-1-24/

### What did you expect to happen?

Pluto should have marked v1beta API of CSIStorageCapacity as deprecated.

### How can we reproduce this?

Check lates

[2022-08-17 18:39] sudermanjr commented on #363
Thanks for the report. I can get those added to the list. Thanks!

[2022-08-17 19:19] #363 closed

[2022-08-22 06:02] abhijit-dev82 opened #366 "Detect depcreated API's on a live cluster"
**Is your feature request related to a problem? Please describe.**
Currently Pluto detects depcreated API's by scanning manifest files . Some resources might be created by k8s SDK libaries and hence would not show up in any manifest file. Thus these resources created by depcreated API's would not be detected by pluto.

**Describe the solution you'd like**
"Kubectl api-resources" lists all the reso

[2022-09-15 18:24] sudermanjr commented on #351
Please let us know if you find any more information about this issue. Closing for now.

[2022-09-15 18:24] #351 closed

[2022-10-10 08:55] robinsmidsrod opened #390 "Out of memory crash when trying to scan repo with lots of files"
### What happened?

I tried to scan a git repo that contains a lot of files, most of them binary and I got an out of memory error that caused the application to crash.

### What did you expect to happen?

For the scan to complete without an out of memory issue.

### How can we reproduce this?

Try to run pluto on a directory with many files. In my case the directory had 147k files, most of them sm

[2022-10-10 12:40] JacekLakis-TomTom opened #391 "Pluto uses different context than kubectl client"
### What happened?

I am building a pipeline that deploys cluster in cloud, deploys some resources on it and then runs `pluto detect-api-resources`. **Runners are Kubernetes pods deployed via Github Actions Runner Controller**. The pipeline is made of the following steps:
1) Deploy cluster in cloud
2) Connect to the cluster using cloud provider's CLI
3) Run `pluto detect-api-resources`.

When ente

[2022-10-14 09:30] crdnb opened #392 "RFE: Make Pluto available as git pre-commit"
It would be great to use Pluto as a git pre-commit hook:  https://pre-commit.com/

The hook file (.pre-commit-hooks.yaml) could look like:

\-   id: trailing-whitespace
     name: Trim Trailing Whitespace
     description: Pluto is a utility to help users find deprecated Kubernetes apiVersions in their code repositories and their helm releases.
     entry: pluto
     language: go
     types: [yaml

[2022-10-24 12:50] born4new opened #399 "Exclude some resource kind"
**Is your feature request related to a problem? Please describe.**
We would like exclude certain resources from the deprecation warnings output (e.g. `PodDisruptionBudget` that will be removed in 1.25), simply because the upgrade of those resources depend on another team, and we would still like to integrate Pluto in our CI, without having it be red until those are fixed.

This way, people would b

[2022-11-16 18:11] aslafy-z opened #409 "Ordering of custom columns is not preserved"
### What happened?

When using the `--columns` option, the order is not preserved.

### What did you expect to happen?

Order should be preserved, if I ask for KIND then NAME, I want KIND,NAME not NAME,KIND.

### How can we reproduce this?

`pluto detect-helm -ocsv --columns "KIND,NAME"` outputs two columns in the wrong order: 'NAME,KIND'.

### Version

v5.11.2

### Search

- [X] I did search for

[2022-11-16 19:23] aslafy-z opened #411 "Allow filter by namespace and kube context override with API Resources method"
**Is your feature request related to a problem? Please describe.**
I'd like to use the API Resources detector but found that there were no way to provide a namespace or a kube context.

**Describe the solution you'd like**
Add support for namespace and context values as present for `detect-helm`

**Describe alternatives you've considered**
- Namespace: Filter the output, I don't like that.
- Conte

[2022-11-17 20:05] sudermanjr commented on #399
The current setup allows you to override the list of deprecations that you are using if you would like to try that. I think adding that flag could be useful as well, but in the meantime check out - https://github.com/FairwindsOps/pluto/blob/master/docs/advanced.md#adding-custom-version-checks

[2022-11-25 22:41] smehboub opened #418 "The rules to load client configuration to connect to a kubernetes cluster are different depending on the command"
### What happened?

Hello,

Firstly, thank you very much for your work.
I want to share you an issue.

The rules to load client configuration to connect to a kubernetes cluster are different for the commands "detect-helm" and "detect-api-resources"

### What did you expect to happen?

The same rules to load client configuration for all commands that need to connect to a kubernetes cluster

### How